<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytp.music.dao.LocalMusicDao">

    <resultMap id="LocalMusicMap" type="com.ytp.music.entity.local.LocalMusicDO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="folderId" column="folder_id" jdbcType="INTEGER"/>

        <result property="lrc" column="lrc" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="singer" column="singer" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="songId" column="song_id" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModify" column="gmt_modify" jdbcType="TIMESTAMP"/>
        <result property="playCount" column="play_count" jdbcType="INTEGER"/>
        <result property="songType" column="song_type" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="SongSortMap" type="com.ytp.music.entity.local.LocalMusicDO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="getAll" resultMap="LocalMusicMap">
        select * from song where folder_id = #{folderId}
    </select>

    <select id="getByUserId" resultMap="LocalMusicMap">
        select * from song where user_id = #{userId} order by play_count desc
    </select>

    <select id="getByTime" resultMap="LocalMusicMap">
        select * from song where gmt_modify > #{time} and user_id = #{id} order by play_count desc
    </select>

    <select id="getSongIdBySongId" resultType="java.lang.Integer">
        select id from song where song_id = #{songId} limit 1
    </select>

    <select id="getOneSong" resultMap="LocalMusicMap">
        select * from song where id = #{id}
    </select>

    <select id="getAllSort" resultMap="SongSortMap">
        select * from song_sort
    </select>

    <insert id="add" parameterType="com.ytp.music.entity.local.LocalMusicDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into song (folder_id, user_id, song_type, lrc, name, pic, singer, time, url, song_id) values
        (#{folderId}, #{userId}, #{songType}, #{lrc}, #{name}, #{pic}, #{singer}, #{time}, #{url}, #{songId})
    </insert>

    <delete id="delete">
        delete from song where id = #{id}
    </delete>

    <update id="updateSongPlayCount">
        update song set play_count = play_count + 1 where id = #{id}
    </update>

</mapper>